<div class="jumbotron mt-1">
     <div class="container" style="text-align: center;">

          <!-- CALCULATOR -->
          <section class="card">
               <div class="card-body">
                    <table style="width: 100%" cellspacing="5" cellpadding="15">
                         <tr style="vertical-align: top;">
                              <td style="text-align: left; width 30%">
                                   <!-- Fixed Cost -->
                                   <h3 class="title_section">Fixed Cost</h3>
                                   <div class="mb-3 row">
                                        <div class="col">
                                             <label for="rent" class="form-label">Rent</label>
                                        </div>
                                        <div class="col">
                                             <input type="text" class="form-control" id="rent" value="0.00">
                                        </div>
                                   </div>
                                   <div class="mb-3 row">
                                        <div class="col">
                                             <label for="transport" class="form-label">Transport</label>
                                        </div>
                                        <div class="col">
                                             <input type="text" class="form-control" id="transport" value="0.00">
                                        </div>
                                   </div>
                                   <div class="mb-3 row">
                                        <div class="col">
                                             <label for="transport" class="form-label">Telephone/Internet</label>
                                        </div>
                                        <div class="col">
                                             <input type="text" class="form-control" id="transport" value="0.00">
                                        </div>
                                   </div>
                                   <div class="mb-3 row">
                                        <div class="col">
                                             <label for="transport" class="form-label">Feeding</label>
                                        </div>
                                        <div class="col">
                                             <input type="text" class="form-control" id="transport" value="0.00">
                                        </div>
                                   </div>
                                   <div class="mb-3 row">
                                        <div class="col">
                                             <label for="transport" class="form-label">Others</label>
                                        </div>
                                        <div class="col">
                                             <input type="text" class="form-control" id="transport" value="0.00">
                                        </div>
                                   </div>
                                   <!-- Fixed Cost -->
                              </td>
                              <td style="text-align: left; width 30%">
                                   <!-- About Project -->
                                   <h3 class="title_section">About Project</h3>
                                   <div class="mb-3 row">
                                        <div class="col">
                                             <label for="transport" class="form-label">
                                                  * How many hours a day will you dedicate?
                                             </label>
                                        </div>
                                        <div class="col">
                                             <input type="text" class="form-control" id="transport" value="0.00">
                                        </div>
                                   </div>

                                   <div class="mb-3 row">
                                        <div class="col">
                                             <label for="transport" class="form-label">
                                                  * How many days will it take you to finish it?
                                             </label>
                                        </div>
                                        <div class="col">
                                             <input type="text" class="form-control" id="transport" value="0.00">
                                        </div>
                                   </div>

                                   <div class="mb-3 row">
                                        <div class="col">
                                             <label for="type" class="form-label">* Proyect Type</label>
                                        </div>
                                        <div class="col">
                                             <select id="proyectType" class="form-select"
                                                  aria-label="Default select example">
                                                  <option selected>- select - </option>
                                                  <option value="1">Custom Web</option>
                                                  <option value="2">e-commerce</option>
                                                  <option value="3">Android app</option>
                                                  <option value="3">IOS app</option>
                                             </select>
                                        </div>
                                   </div>

                                   <div class="mb-3 row">
                                        <div class="col">
                                             <label for="proyectCost" class="form-label">* Proyect Cost</label>
                                        </div>
                                        <div class="col">
                                             <input type="text" class="form-control" id="proyectCost" value="0.00">
                                        </div>
                                   </div>
                                   <!-- About Project -->
                              </td>
                              <td style="text-align: left;">
                                   <table style="width: 100%" cellspacing="5" cellpadding="5">
                                        <tr>
                                             <td style="text-align: center;">
                                                  <section class="card">
                                                       <div class="card-body">
                                                            <h5>Cost per day</h5>
                                                            383.33
                                                       </div>
                                                  </section>
                                             </td>
                                        </tr>
                                        <tr>
                                             <td style="text-align: center; width: 30%">
                                                  <section class="card">
                                                       <div class="card-body">
                                                            <h5>Cost per hour</h5>
                                                            47.91
                                                       </div>
                                                  </section>
                                             </td>
                                        </tr>
                                   </table>
                              </td>
                         </tr>
                         <tr>
                              <td style="text-align: center;" colspan="3">
                                   <div class="container">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="collapse"
                                             data-bs-target="#collapseHistory" aria-expanded="false"
                                             aria-controls="collapseHistory">Calculate</button> &nbsp;
                                        <button type="button" class="btn btn-secondary">Clean</button> &nbsp;
                                        <button type="button" class="btn btn-success">Save</button> &nbsp;
                                   </div>
                              </td>
                         </tr>
                    </table>
               </div>

               <div class="card-body">
                    <table style="width: 100%" cellspacing="5" cellpadding="5">
                         <tr>
                              <td style="text-align: center; width: 30%">
                                   <section class="card">
                                        <div class="card-body">
                                             <h5>What the project will cost you</h5>
                                             20,500.00
                                        </div>
                                   </section>
                              </td>
                              <td style="text-align: center; width: 20%">
                                   <section class="card">
                                        <div class="card-body">
                                             <h5>Taxes IVA + ISR</h5>
                                             2,500.00
                                        </div>
                                   </section>
                              </td>
                              <td style="text-align: center; width: 25%">
                                   <section class="card">
                                        <div class="card-body">
                                             <h5>What you should charge</h5>
                                             23,000.00
                                        </div>
                                   </section>
                              </td>
                              <td style="text-align: center; width: 25%">
                                   <section class="card">
                                        <div class="card-body">
                                             <h5>Revenue</h5>
                                             1,031.25
                                        </div>
                                   </section>
                              </td>
                         </tr>
                    </table>
               </div>

               <div class="collaps" id="collapseHistory">
                    <div class="card card-body">
                         <table id="historyTable" class="table table-striped table-bordered display responsive nowrap"
                              style="width:100%">
                              <thead class="thead-light">
                                   <tr>
                                        <th>#</th>
                                        <th>Project</th>
                                        <th>Hrs</th>
                                        <th>Cost</th>
                                        <th>Date</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   <tr>
                                        <td>1</td>
                                        <td>Custom Web</td>
                                        <td>80</td>
                                        <td>7,000.00</td>
                                        <td>01/01/2021</td>
                                   </tr>
                                   <tr>
                                        <td>2</td>
                                        <td>Custom Web</td>
                                        <td>80</td>
                                        <td>7,000.00</td>
                                        <td>01/01/2021</td>
                                   </tr>
                                   <tr>
                                        <td>3</td>
                                        <td>Custom Web</td>
                                        <td>80</td>
                                        <td>7,000.00</td>
                                        <td>01/01/2021</td>
                                   </tr>
                              </tbody>
                         </table>
                         <script type="text/javascript">
                              $(document).ready(function () {
                                   $('#historyTable').DataTable();

                                   /*var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'))
                                   var collapseList = collapseElementList.map(function (collapseEl) {
                                        return new bootstrap.Collapse(collapseEl)
                                   });*/
                              });
                         </script>
                    </div>
               </div>
          </section>


          <!-- CALCULATOR -->
     </div>
</div>