/* HOME */

#home.scroll-wrapper-div {
  overflow-y: scroll;
  max-height: 800px;
  width: auto;
  max-width: 1200px;
  text-align: center;
}

.layout--radius {
  -webkit-border-radius: 5%;
  border-radius: 5%;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}
