<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright: <a href="https://agilethought.com">agilethought.com</a>
    <!--(branch: <a href="https://github.com/at-internship/at-sce-ui/tree/feature/AT-SCE_POC"
      target="_blank">feature/AT-SCE_POC</a>,
    commit: <a href="#">bd05d94</a>)-->
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
