<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright: <a href="https://agilethought.com">agilethought.com</a> v1.0.0
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
