<div class="jumbotron mt-1">
     <div class="container" style="text-align: left;">

          <h1>Admin Module</h1>
          <!--linea -->
          <hr color="blue" size=3>
           <h4>AT-SCE</h4>

           <button type="button" class="btn btn-primary"> User</button>
          <!-- Software  admin -->
        
          <!-- Software  admin -->
      </div>
     
</div>