		   
		    <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white border-bottom box-shadow">
			      <h5 class="mr-md-auto font-weight-normal text-secondary">Users Administration</h5>
			      
			      <button type="button" class="btn btn-primary">» Add New User</button>

    		</div>

    		<div class="d-flex justify-content-between flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white border-bottom box-shadow">

    			<form class="form-inline">
				  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Show</label>
				  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
				    <option selected>10</option>
				    <option value="1">01</option>
				    <option value="2">02</option>
				    <option value="3">03</option>
				    <option value="4">04</option>
				    <option value="5">05</option>
				    <option value="6">06</option>
				    <option value="7">07</option>
				    <option value="8">08</option>
				    <option value="9">09</option>
				    <option value="10">10</option>
 					</select>
 					<label class="my-1 mr-2" for="inlineFormCustomSelectPref">entries</label>
				</form>
		
				<form class="form-inline">
					  <div class="form-group">
					    <label for="inputTextSearch">Search</label>
					    <input type="text" id="inputTextSearch" class="form-control mx-sm-3">
					</div>
				</form>
	      	</div>

    		<table class="table">
				  <thead>
				    <tr>
				      <th scope="col" class="text-secondary">ID</th>
				      <th scope="col" class="text-secondary">Name</th>
				      <th scope="col" class="text-secondary">First Name</th>
				      <th scope="col" class="text-secondary">Last Name</th>
				      <th scope="col" class="text-secondary">Email</th>
				      <th scope="col" class="text-secondary">Status</th>
				      <th scope="col" class="text-secondary">Actions</th>
				    </tr>
				  </thead>

				  <tbody>
						<tr>
						<td>5fc7063b559e031d88e97063</td>
						<td>Andreas</td>
						<td>Edmundo</td>
						<td>Will</td>
						<td>francesco@mail.com</td>
						<td>1</td>
						<td>
							<img src="assets/image/edit.png" height="35px" alt="" class="p-2 font-weight-normal">
							<img src="assets/image/delete.png" height="35px" alt="" class="p-2 font-weight-normal">
						</td>
						</tr>

						<tr>
						<td>5fc7063f5559e031d88e97064</td>
						<td>Jesie</td>
						<td>Long</td>
						<td>Denesik</td>
						<td>max57994433@hotmail.com</td>
						<td>1</td>
						<td>
							<img src="assets/image/edit.png" height="35px" alt="" class="p-2 font-weight-normal">
							<img src="assets/image/delete.png" height="35px" alt="" class="p-2 font-weight-normal">
						</td>
						</tr>

						<tr>
						<td>5fc70641559e031d88e97065</td>
						<td>Emmet</td>
						<td>Darcel</td>
						<td>Koepp</td>
						<td>inger@mann.com</td>
						<td>0</td>
						<td>
							<img src="assets/image/edit.png" height="35px" alt="" class="p-2 font-weight-normal">
							<img src="assets/image/delete.png" height="35px" alt="" class="p-2 font-weight-normal">
						</td>
						</tr>

						<tr>
						<td>5fc70644559e031d88e97066</td>
						<td>Derek</td>
						<td>Shani</td>
						<td>Reichel</td>
						<td>geraldine@86469803franecki.com</td>
						<td>0</td>
						<td>
							<img src="assets/image/edit.png" height="35px" alt="" class="p-2 font-weight-normal">
							<img src="assets/image/delete.png" height="35px" alt="" class="p-2 font-weight-normal">
						</td>
						</tr>

						<tr>
						<td>5fc70649559e031d88e97067</td>
						<td>Matt</td>
						<td>Malik</td>
						<td>Leuschke</td>
						<td>rayford@gmail.es</td>
						<td>0</td>
						<td>
							<img src="assets/image/edit.png" height="35px" alt="" class="p-2 font-weight-normal">
							<img src="assets/image/delete.png" height="35px" alt="" class="p-2 font-weight-normal">
						</td>
						</tr>

						<tr>
						<td>5fc7064a559e031d88e97068</td>
						<td>Lorena</td>
						<td>Taren</td>
						<td>Franecki</td>
						<td>kaci@yahoo.es</td>
						<td>0</td>
						<td>
							<img src="assets/image/edit.png" height="35px" alt="" class="p-2 font-weight-normal">
							<img src="assets/image/delete.png" height="35px" alt="" class="p-2 font-weight-normal">
						</td>
						</tr>

						<tr>
						<td>5fc706e3559e031d88e97069</td>
						<td>Ross</td>
						<td>Mathew</td>
						<td>Miller</td>
						<td>zachery@yahoo.es</td>
						<td>1</td>
						<td>
							<img src="assets/image/edit.png" height="35px" alt="" class="p-2 font-weight-normal">
							<img src="assets/image/delete.png" height="35px" alt="" class="p-2 font-weight-normal">
						</td>
						</tr>

						<tr>
						<td>5fc706e6559e031d88e9706a</td>
						<td>Luana</td>
						<td>Jae</td>
						<td>Williamson</td>
						<td>elisha@ymail.es</td>
						<td>0</td>
						<td>
							<img src="assets/image/edit.png" height="35px" alt="" class="p-2 font-weight-normal">
							<img src="assets/image/delete.png" height="35px" alt="" class="p-2 font-weight-normal">
						</td>
						</tr>

						<tr>
						<td>5fc706e9559e031d88e9706b</td>
						<td>Shenna</td>
						<td>Solomon</td>
						<td>Bergstrom</td>
						<td>antony04216290@ymail.es</td>
						<td>0</td>
						<td>
							<img src="assets/image/edit.png" height="35px" alt="" class="p-2 font-weight-normal">
							<img src="assets/image/delete.png" height="35px" alt="" class="p-2 font-weight-normal">
						</td>
						</tr>

						<tr>
						<td>5fc706ec559e031d88e9706c</td>
						<td>Marlys</td>
						<td>Garland</td>
						<td>Johnson</td>
						<td>richelle@lynch.com</td>
						<td>0</td>
						<td>
							<img src="assets/image/edit.png" height="35px" alt="" class="p-2 font-weight-normal">
							<img src="assets/image/delete.png" height="35px" alt="" class="p-2 font-weight-normal">
						</td>
						</tr>
					</tbody>
			</table>

		<div class="d-flex justify-content-between flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white border-bottom box-shadow">

			<h6 class="mr-md-auto font-weight-normal text-secondary">Showing 1 to 10 of 293 entries</h6>

				<nav aria-label="...">
					  <ul class="pagination">
					    
					    <li class="page-item disabled">
					      <a class="page-link" href="#" tabindex="-1">Previous</a>
					    </li>

					   	<li class="page-item active">
					      <a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
					    </li>
					    
					     <li class="page-item"><a class="page-link" href="#">2</a></li>

					     <li class="page-item"><a class="page-link" href="#">3</a></li>

					     <li class="page-item"><a class="page-link" href="#">4</a></li>

					     <li class="page-item"><a class="page-link" href="#">...</a></li>
					    
					    <li class="page-item"><a class="page-link" href="#">30</a></li>
					    <li class="page-item">
					      <a class="page-link" href="#">Next</a>
					    </li>
					  
					  </ul>
				</nav>
		</div>